@media (min-width: 320px) and (max-width: 1024px) {
  body {
    width: 1024px;
    height: 4987px;
    margin: auto auto;
  }

  .hero {
    width: 100%;
    height: 1000px;
  }

  .bg_image {
    /* background-image: url('/cyberpank/image/hero.jpg'); */
    background-image: url('/cyberpank/image/1921.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 952px;
    height: 74px;
  }

  .yellow_card {
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 242, 0, 1);
    clip-path: polygon(8% 0%, 100% 0%, 100% 85%, 92% 100%, 0% 100%, 0% 15%);
    width: 624px;
    height: 369px;
    margin-left: 363px;
  }

  .description {
    width: 1024px;
    height: 1101px;
  }

  .text_container {
    height: 309px;
    width: 788px;
    margin-left: 36px;
  }

  h2 {
    width: 100%;
  }

  .description p {
    width: 100%;
  }

  .rect_container {
    overflow: hidden;
    display: grid;
    width: 952px;
    height: 916px;
    margin-left: 36px;
    margin-top: 70px;
    grid-template-rows: 196px 196px 196px;
    grid-template-columns: 460px 460px;
    gap: 32px 32px;
    grid-template-areas:
      'rectangle1 rectangle3'
      'rectangle2 rectangle2'
      'rectangle2 rectangle2';
  }

  .rectangle2 {
    background-image: url('/cyberpank/image/Rectangle3v2.png');
  }

  section {
    width: 100%;
    height: 70px;
    background-image: url('/cyberpank/image/22_1.png');
  }
  .promotion {
    position: relative;
    width: 1024px;
    height: 1023px;
  }

  .flex_console {
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 858px;
    gap: 32px;
    top: 95px;
    left: 528px;
  }

  .box {
    margin-top: 0;
    width: 460px;
    height: 456px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .bg_console_img {
    background-image: none;
    background-size: cover;
  }

  .xbox {
    background-image: url('/cyberpank/image/xbox2.png');
    background-size: cover;
  }

  .sony {
    background-image: url('/cyberpank/image/sony2.png');
    background-size: cover;
  }

  .promo_logo,
  h3,
  .promo_text {
    margin-left: 36px;
  }

  h3 {
    left: 0;
    bottom: 0;
    width: 460px;
    height: 126px;
    margin-bottom: 25px;
  }

  .promo_text {
    width: 460px;
    height: 59px;
  }

  .form_container {
    position: absolute;
    width: 460px;
    height: 383px;
    top: 570px;
    left: 36px;
    color: #ffffff;
  }

  .decoration_img2 {
    width: 100%;
    height: 70px;
  }

  .monitor {
    width: 100%;
    height: 796px;
  }

  .monitor_img {
    margin-top: 70px;
    margin-right: 32px;
    background-image: url('/cyberpank/image/monitor_img2.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 460px;
    height: 317px;
  }
  .hp_img {
    position: absolute;
    top: 454px;
    left: 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    width: 320px;
    height: 230px;
  }

  .monitor_text_container {
    width: 460px;
    height: 656px;
  }

  .game_buy {
    width: 100%;
    height: 717px;
    background-color: black;
  }

  .game_buy_img {
    width: 332px;
    height: 100%;
    background-image: url('/cyberpank/image/game_buy_img2.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .footer {
    width: 100%;
    height: 100px;
  }

  .footer_flex_logo {
    margin-right: 63.95px;
  }
}
